<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            href="{{url_for('static', filename='icons/icon_72x72.png')}}"
            type="image/png"
        />
        <link
            rel="icon"
            type="image/x-icon"
            href="/static/images/icons/favicon.ico"
        />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="static/javascript/item.js"></script>
        <script src="static/javascript/items.js"></script>
        <link rel="stylesheet" href="/static/css/styles.css" />
        <title>在庫管理システム</title>
    </head>
    <body>
        <div class="flex h-screen w-screen flex-col text-white">
            <div
                class="flex p-5 items-center justify-center bg-sky-950 text-xl text-white lg:text-7xl"
            >
                アイテム管理
            </div>
            <div class="flex-1 bg-stone-100 p-5 min-h-0 flex">
                <div
                    class="item-list relative flex flex-col gap-3 h-full overflow-y-auto p-5 w-70 text-center text-xl shrink-0"
                >
                    <button
                        id="addItem"
                        class="p-3 bg-sky-900 rounded-md aria-selected:bg-sky-400"
                    >
                        + 追加
                    </button>
                    <!-- Item list -->
                </div>
                <div class="w-[2px] h-full bg-gray-500 rounded-full"></div>
                <fieldset
                    class="item-detail flex flex-col p-5 gap-0 basis-5xl grow text-black h-full overflow-auto whitespace-nowrap md:gap-5"
                    disabled="true"
                >
                    <div
                        class="update-delete flex gap-3 items-end text-lg md:text-3xl"
                    >
                        <div class="flex-grow"></div>
                        <button
                            class="bg-sky-400 rounded-lg px-3 py-1 disabled:bg-gray-500"
                        >
                            更新
                        </button>
                        <button
                            class="bg-red-800 text-white rounded-lg px-3 py-1 disabled:bg-gray-500"
                        >
                            削除
                        </button>
                    </div>
                    <div class="text-xl md:text-4xl">ID</div>
                    <div class="pl-12 detail-item-id text-lg md:text-5xl">
                        0000
                    </div>
                    <div class="text-xl md:text-4xl">名称</div>
                    <input
                        type="text"
                        class="mx-12 detail-item-name text-lg rounded-lg md:text-5xl disabled:bg-gray-500"
                        value="アイテム名"
                        placeholder="アイテム名"
                    />
                    <div class="text-xl md:text-4xl">残り/全数</div>
                    <div class="pl-12 detail-item-amount text-lg md:text-5xl">
                        0/0
                    </div>
                    <details disabled class="text-xl md:text-4xl">
                        <summary>貸出履歴</summary>
                        <table
                            class="p-10 pl-12 text-lg md:text-4xl border-collapse [&_td]:border [&_td]:border-slate-700 bg-gray-50 grow"
                        >
                            <tr class="bg-gray-300">
                                <th>日付</th>
                                <th>ユーザーID</th>
                                <th>ユーザー名</th>
                                <th>貸出/返却</th>
                                <th>数量</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </details>
                </fieldset>
            </div>
        </div>
        <!-- A hack for tailwindcss to generate the CSS for jquery generated elements -->
        <div class="hidden" id="hack">
            <button
                class="itembox p-3 bg-sky-900 rounded-md aria-selected:bg-sky-600"
                id="itembox-2"
                item_id="2"
                aria-selected="true"
            >
                ID: 2, ハンマー
            </button>
            <div
                class="spinner absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            >
                <div
                    class="animate-spin h-10 w-10 border-4 border-blue-500/10 rounded-full border-t-blue-500"
                ></div>
            </div>
        </div>
    </body>
</html>
