<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com"></script>
        <title>使用・返却 - 在庫管理システム</title>
    </head>
    <body>
        <div class="flex min-h-screen min-w-screen flex-col text-white">
            <div
                class="tex-center flex h-28 items-center justify-center bg-blue-950 text-7xl"
            >
                使用・返却
            </div>
            
        </div>
    </body>
</html>
