<!DOCTYPE html>
<html lang="en" style="touch-action: manipulation">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            href="{{url_for('static', filename='icons/icon_72x72.png')}}"
            type="image/png"
        />
        <link
            rel="icon"
            type="image/x-icon"
            href="/static/images/icons/favicon.ico"
        />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='javascript/item.js')}}"></script>
        <script src="{{url_for('static', filename='javascript/use_return.js')}}"></script>
        <title>使用・返却 - 在庫管理システム</title>
    </head>
    <body>
        <div class="flex min-h-screen min-w-screen flex-col bg-stone-100">
            <div
                class="flex p-5 items-center justify-center bg-blue-950 text-xl text-white lg:text-7xl"
            >
                使用・返却
            </div>
            <div
                class="item-list flex grow p-3 gap-10 overflow-x-scroll items-center"
            >
                <!-- itembox comes here -->
                <div
                    class="w-[2px] h-20 bg-stone-300 rounded-full"
                    id="itemListSeparator"
                ></div>
                <div
                    class="w-70 h-60 bg-stone-200 rounded-xl transition-all transform p-3 shadow-lg"
                >
                    <label for="itemCode" class="text-2xl w-full"
                        >コードで追加</label
                    >
                    <form class="addItemById relative gap-2 w-full">
                        <input
                            type="text"
                            class="itemCode border-2 rounded-lg h-10 p-3"
                            placeholder="在庫コード"
                        />

                        <button
                            type="submit"
                            class="addItem absolute rounded-lg p-3 h-5 w-5 right-3 top-[50%] translate-y-[-100%]"
                            id="addItem"
                        >
                            +
                        </button>
                        <div
                            class="w-[2px] h-5 absolute bg-stone-300 rounded-full right-7 top-[50%] translate-y-[-50%]"
                        ></div>
                    </form>
                </div>
            </div>
            <div
                class="flex justify-center items-center max-h-20 bg-stone-300 text-3xl grow"
            >
                <button
                    class="use-return bg-blue-800 text-white rounded-lg p-3 hover:bg-blue-900 active:bg-blue-950"
                >
                    登録
                </button>
            </div>
        </div>
        <!-- A hack for the tailwind css to generate the styles for jquery generated elements -->
        <div class="hidden" id="hack">
            <div
                class="itembox relative py-2 px-8 h-0.7 bg-stone-200 rounded-xl shadow-lg flex flex-col items-center"
                id="itembox-0"
            >
                <div class="max-w-60">
                    <p class="text-3xl font-bold m-1" id="item-0-name">
                        .m2ネジ
                    </p>
                    <p class="text-sm" id="item-0-code">在庫コード:0001</p>
                    <p class="text-sm" id="item-0-stock">在庫残り:12/20</p>
                </div>
                <div class="p-2 flex justify-center items-center text-2xl">
                    <button
                        class="bg-white rounded-full w-8 h-8 mx-1 hover:bg-stone-100 duration-100 border-t-gray-600 active:border-t-2"
                        id="item-0-decrease"
                    >
                        -</button
                    ><input
                        class="item-quantity bg-white w-16 p-2 mx-1 rounded-xs text-center"
                        id="item-0-quantity"
                        value="0"
                        type="number"
                        max="12"
                        min="-8"
                    /><button
                        class="bg-white rounded-full w-8 h-8 mx-1 hover:bg-stone-100 duration-100 border-t-gray-600 active:border-t-2"
                        id="item-0-increase"
                    >
                        +
                    </button>
                </div>
                <button
                    class="bg-stone-800 text-white rounded-xl w-32 h-8 m-2 hover:bg-stone-700 duration-200 active:bg-stone-500"
                    id="item-0-revert"
                >
                    取消
                </button>
            </div>
        </div>
    </body>
</html>
